certifi
Django==2.2.13
django-cors-headers
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
Pillow==7.2.0
psycopg2
psycopg2-binary
PyJWT==2.4.0
pytz==2019.2
requests
celery
redis
django-celery-beat
django-celery-results
